BOT_TOKEN=SEU_BOT_TOKEN
CLIENT_ID=SEU_CLIENT_ID
CLIENT_SECRET=SEU_CLIENT_SECRET
GUILD_ID=ID_DO_SERVIDOR
REDIRECT_URI=https://orion-server.up.railway.app/callback
SESSION_SECRET=STRING_ALEATORIA_LONGA
DASHBOARD_PASS=SENHA_DO_DASHBOARD
HEARTBEAT_SECRET=CHAVE_SECRETA_IGUAL_NO_BOT
NODE_ENV=production
